
$background_color-dark: #2b2b2b;
$background-color-light: #efefef;

$font_color-dark: rgba(43, 33, 61, 0.85);
$font_color-dark-strong: rgb(43, 33, 61);
$font_color-light: white;

$icon_color-main: #659cbf;
$icon_color-light: rgba(255, 255, 255, 0.86);

$btn-bg-color-sky-blue-gradient: linear-gradient(145deg, #daf6ff, #7d9da8);
$btn-font-color: #282828;

$logo_font: 'Major Mono Display', monospace;