@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@-webkit-keyframes logo-text-fading {
  from {
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
            filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  to {
    -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
  }
}
@keyframes logo-text-fading {
  from {
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
            filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  to {
    -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
}

.btn--see-project, .btn--download-resume {
  background: #efefef;
  color: #2b213d;
  display: inline-block;
  margin-top: 3rem;
  padding: 10px 25px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.btn--download-resume {
  background: #2b2b2b;
  color: white;
  border: 1px solid white;
  margin-left: 1.5rem;
}

.btn--src-code {
  background-color: #2b2b2b;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
}

.btn--src-code:hover {
  background-color: #434343;
}

.btn--send-message {
  background-color: #4784aa;
  color: white;
  width: 80px;
  margin-top: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

/* Hamburger ANIMATION */
/* The middle bar */
.hamburger-btn {
  width: 31px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* Making 2 more bars, 1 above, 1 below */
  /* Position the two bars */
}

.hamburger-btn::before, .hamburger-btn::after {
  content: '';
  position: absolute;
  width: 31px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger-btn::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger-btn::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.skills-card {
  height: 320px;
  width: 220px;
  margin: 30px;
  background-color: #2b2b2b;
  -webkit-box-shadow: 7px 7px 8px #252525, -7px -7px 8px #3f3f3f;
          box-shadow: 7px 7px 8px #252525, -7px -7px 8px #3f3f3f;
  border-radius: 0.5rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  /* Change the shape of the card from outwards to inwards on hover */
  /*Responsive*/
}

.skills-card:hover {
  -webkit-box-shadow: inset 20px 20px 10px #252525, inset -20px -20px 10px #313131;
          box-shadow: inset 20px 20px 10px #252525, inset -20px -20px 10px #313131;
}

.skills-card__icon {
  font-size: 60px;
  color: #659cbf;
  margin: 40px 0 20px;
}

.skills-card__heading {
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .skills-card {
    width: 300px;
  }
}

/* This creates a "flat card" */
.project__card {
  position: relative;
  width: 320px;
  height: 440px;
  margin: 45px;
  border-radius: 27px;
  background: #efefef;
  -webkit-box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #ffffff;
          box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #ffffff;
  /* This creates a "pressed card" on the "flat card" */
}

.project__card__inner-card {
  /* This makes all sides of the inner-card 10px away from the outer-card */
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 16px;
  -webkit-box-shadow: inset 6px 6px 12px #c9c9c9, inset -6px -6px 12px #ffffff;
          box-shadow: inset 6px 6px 12px #c9c9c9, inset -6px -6px 12px #ffffff;
}

.project__card__inner-card__text-box {
  /* This makes all sides of the text-box 12px away from the inner-card, thus, the text-box size will change based on the card size */
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  text-align: center;
  border-radius: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.project__card__inner-card__text-box:hover {
  -webkit-transform: translateY(-10px) scale(1.05);
          transform: translateY(-10px) scale(1.05);
  -webkit-box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
          box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  background-color: #f8f8f8;
  /* A bit whiter than the bg */
}

.project__card__inner-card__text-box .project-title {
  height: 55px;
  margin: 15px 15px 10px;
  color: #2b2b2b;
}

.project__card__inner-card__text-box .project-description {
  height: 120px;
  font-size: 1rem;
  color: #3a3a3a;
  margin: 10px 15px;
}

.project__card__inner-card__text-box .tech-stack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2b2b2b;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.project__card__inner-card__text-box .tech-stack-box__languages-box {
  height: 100px;
  width: 100px;
  margin-bottom: 0;
  font-weight: 600;
}

.project__card__inner-card__text-box .tech-stack-box__languages-box hr {
  opacity: 0.6;
}

.project__card__inner-card__text-box .tech-stack-box__icon {
  font-size: 60px;
  margin-top: 0.8rem;
  margin-left: 3rem;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i1 {
  color: none;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i1 img {
  width: 80px;
  height: 80px;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i2 {
  color: none;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i2 img {
  width: 80px;
  height: 60px;
  margin-right: 2rem;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i3 {
  color: #a54b2a;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i4 {
  color: #ff5900;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i5 {
  color: purple;
}

.project__card__inner-card__text-box .tech-stack-box__icon--i6 {
  color: #659cbf;
}

.grid-container {
      grid-template-areas: 'Header' 'Banner' 'About' 'Skills' 'Projects' 'Testimonial' 'Contact' 'Footer';
}

/* flexbox container */
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Header;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b2b2b;
  /* Fixed nav-bar */
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* This creates the effect that the nav bar grows */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 20px 40px;
  border-radius: 0 0 4px 4px;
}

.nav-bar__link {
  color: white;
  text-decoration: none;
  font-size: 17px;
  /* Using margin for nav item instead of padding size allows the hover effect to appear right below the element */
  margin: 15px 20px;
  border-radius: 4px;
  /* In order to use absolute position on the blue-bar pseudo-elements */
  position: relative;
  /* HOVER EFFECT on nav links */
  /* Create pseudo-elements. Position a blue bar right below each nav links. Another hard-coded bar */
}

.nav-bar__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -5px;
  background: linear-gradient(145deg, #daf6ff, #7d9da8);
  border-radius: 12px;
  /* Pseudo-element Hidden at first */
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-bar__link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-bar__link.current::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-bar__link--logo {
  /* There's no justify-self in flexbox, this is the workaround to justify a single flexbox item */
  /* This also pushes the rest of the nav links to the end, so it can act like justify-content: flex-end; in this case */
  margin-right: auto;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Major Mono Display", monospace;
  /* The logo is not supposed to have hover effects */
}

.nav-bar__link--logo:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-bar__link--hamburger {
  display: none;
  /* The hamburger is not supposed to have hover effects */
}

.nav-bar__link--hamburger:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-bar.sticky {
  background-color: #efefef;
  /* This creates the effect that the nav bar shrinks */
  padding: 0 80px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.nav-bar.sticky .nav-bar__link {
  color: rgba(43, 33, 61, 0.85);
  /* Decrease the nav items size when scroll down */
  margin: 12px 20px;
}

.nav-bar.sticky .nav-bar__link::before {
  background: rgba(43, 33, 61, 0.85);
}

.nav-bar.sticky .nav-bar__link--logo {
  margin-right: auto;
}

.nav-bar.sticky .hamburger-btn {
  background-color: rgba(43, 33, 61, 0.85);
}

.nav-bar.sticky .hamburger-btn::before, .nav-bar.sticky .hamburger-btn::after {
  background-color: rgba(43, 33, 61, 0.85);
}

.nav-bar.responsive .hamburger-btn {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background: transparent;
}

.nav-bar.responsive .hamburger-btn::before {
  -webkit-transform: rotate(45deg) translate(20px, -20px);
          transform: rotate(45deg) translate(20px, -20px);
}

.nav-bar.responsive .hamburger-btn::after {
  -webkit-transform: rotate(-45deg) translate(20px, 20px);
          transform: rotate(-45deg) translate(20px, 20px);
}

/* Responsive */
@media (max-width: 860px) {
  .nav-bar {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-bar__link:not(.nav-bar__link--logo):not(.nav-bar__link--hamburger) {
    display: none;
  }
  .nav-bar__link--hamburger {
    display: block;
    margin: 0;
    /* This makes the whole hamburger clickable, not just the three thin bars */
    padding: 20px;
  }
  .nav-bar.sticky {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-bar.sticky .nav-bar__link--hamburger {
    margin: 0;
  }
  .nav-bar.responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Adjust the hamburger position after transform */
  }
  .nav-bar.responsive .nav-bar__link:not(.nav-bar__link--logo) {
    text-align: center;
  }
  .nav-bar.responsive .nav-bar__link:not(.nav-bar__link--hamburger) {
    /* To override the display: none; so the other nav links reappear */
    display: block;
    width: 100%;
  }
  .nav-bar.responsive .nav-bar__link--hamburger {
    /* Setting a position to an element allows us to use top, bottom, left, and right to move an element,
                which are useful when we want to position an element relative to a container, ex. Hamburger in a
                nav-bar needs to be at the top right corner of the container */
    position: absolute;
    top: 32px;
    right: 16px;
  }
  .nav-bar.responsive.sticky .nav-bar__link--hamburger {
    top: 9px;
    right: 16px;
  }
}

.banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Banner;
  background-color: #2b2b2b;
  color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__heading-box h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.banner__heading-box h2 span {
  font-size: 1.8em;
  font-weight: 400;
}

.banner__heading-box--btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  .banner__heading-box h2 {
    font-size: 1.2rem;
  }
  .banner__heading-box h2 span {
    font-size: 1.7rem;
  }
}

.banner__animated-text {
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Courier New', monospace;
  color: #2b2b2b;
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
          filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0)) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  -webkit-animation-name: logo-text-fading;
          animation-name: logo-text-fading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.banner__animated-text--lt {
  margin-bottom: 9rem;
  margin-right: 1.2rem;
}

@media (max-width: 535px) {
  .banner__animated-text--lt {
    margin-bottom: 8rem;
    margin-right: 0.8rem;
    font-size: 3rem;
  }
}

.banner__animated-text--gt {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 535px) {
  .banner__animated-text--gt {
    margin-right: 2rem;
    font-size: 3rem;
  }
}

.about-me {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: About;
  min-height: 110vh;
  background-color: #efefef;
  color: rgba(43, 33, 61, 0.85);
}

.about-me__heading-box {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  padding: 70px 0 20px;
}

.about-me__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me__content-box--text-box {
  max-width: 550px;
  padding: 30px;
  font-size: 1rem;
  line-height: 1.6;
}

.about-me__content-box--img-box {
  margin: 50px;
}

.about-me__content-box--img-box .img-roof-top {
  border-radius: 12px;
}

.skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Skills;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* This makes sure the section will be at least the viewport height, 
    but extend vertically when items stack on top of each other on mobile screen */
  min-height: 110vh;
  background-color: #2b2b2b;
  color: white;
}

.skills__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  /*Responsive*/
}

@media (max-width: 1000px) {
  .skills__content-box {
    padding: 60px 0;
  }
}

.projects {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: Projects;
  min-height: 100vh;
  background-color: #efefef;
  color: rgba(43, 33, 61, 0.85);
}

.projects__heading-box {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
}

.projects__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.contact {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Contact;
  min-height: 100vh;
  background-color: #2b2b2b;
  color: white;
}

.contact__heading-box {
  text-align: center;
  padding: 100px 0 60px;
  font-size: 2.3rem;
  font-weight: 500;
}

.contact__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__content-box .contact-info-box {
  margin-bottom: 60px;
  margin-left: 80px;
}

.contact__content-box .contact-info-box__sm-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.contact__content-box .contact-info-box__sm-box .icon {
  color: #659cbf;
  padding: 0 25px;
}

.contact__content-box .contact-info-box__social-media-hr {
  width: 300px;
  margin: 20px 0;
  opacity: 0.3;
}

.contact__content-box .contact-info-box__social-media-box {
  margin: 40px;
  margin-left: 10px;
  text-align: center;
  /* To remove the weird little color bars between the icons */
}

.contact__content-box .contact-info-box__social-media-box a {
  color: transparent;
}

.contact__content-box .contact-info-box__social-media-box .social-media-icon {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.86);
  margin: 0 5px;
  text-align: center;
}

.contact__content-box .contact-info-box__social-media-box .social-media-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact__content-box .email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__content-box .email-form__heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
  margin-right: 450px;
}

@media (max-width: 700px) {
  .contact__content-box .email-form__heading {
    margin-right: 250px;
  }
}

.contact__content-box .email-form__field {
  margin: 8px 0;
}

.contact__content-box .email-form__field--name input,
.contact__content-box .email-form__field--email input,
.contact__content-box .email-form__field--message textarea {
  width: 600px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  outline: none;
  color: white;
  resize: none;
  background-color: #2b2b2b !important;
  -webkit-box-shadow: inset 20px 10px 15px #252525, inset -20px -10px 15px #313131 !important;
          box-shadow: inset 20px 10px 15px #252525, inset -20px -10px 15px #313131 !important;
  /* Responsive */
}

.contact__content-box .email-form__field--name input input:-webkit-autofill,
.contact__content-box .email-form__field--name input input:-webkit-autofill:hover,
.contact__content-box .email-form__field--name input input:-webkit-autofill:focus,
.contact__content-box .email-form__field--name input input:-webkit-autofill:active,
.contact__content-box .email-form__field--email input input:-webkit-autofill,
.contact__content-box .email-form__field--email input input:-webkit-autofill:hover,
.contact__content-box .email-form__field--email input input:-webkit-autofill:focus,
.contact__content-box .email-form__field--email input input:-webkit-autofill:active,
.contact__content-box .email-form__field--message textarea input:-webkit-autofill,
.contact__content-box .email-form__field--message textarea input:-webkit-autofill:hover,
.contact__content-box .email-form__field--message textarea input:-webkit-autofill:focus,
.contact__content-box .email-form__field--message textarea input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2b2b2b inset !important;
  box-shadow: 0 0 0 30px #2b2b2b inset !important;
  background-color: #2b2b2b !important;
}

@media (max-width: 700px) {
  .contact__content-box .email-form__field--name input,
  .contact__content-box .email-form__field--email input,
  .contact__content-box .email-form__field--message textarea {
    width: 400px;
  }
}

.contact__content-box .email-form__field--name input {
  margin-left: 12px;
}

.contact__content-box .email-form__field--email input {
  margin-left: 10px;
}

.contact__content-box .email-form__field--message textarea {
  margin-left: 14px;
  min-height: 200px;
}

.contact__content-box .email-form__field--message i {
  padding-top: 1.2rem;
}

.contact__content-box .email-form__field--message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__content-box .email-form__field i {
  color: #659cbf;
}

.copyright-box {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: Footer;
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  padding: 100px 0 20px;
}

.copyright-box {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: Footer;
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  padding: 100px 0 20px;
}
/*# sourceMappingURL=main.css.map */