
.projects {
    grid-area: Projects;

    min-height: 110vh;
    background-color: $background-color-light;
    color: $font_color-dark-strong;

    &__heading-box {
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }

    &__content-box {
        @include flex_center;
        flex-wrap: wrap;
        margin: 40px 0;
    }
}

