
.projects {
    grid-area: Projects;

    min-height: 100vh;
    background-color: $background-color-light;
    color: $font_color-dark;

    &__heading-box {
        font-size: 2.3rem;
        font-weight: 500;
        text-align: center;
        padding-top: 80px;
    }

    &__content-box {
        @include flex_center;
        flex-wrap: wrap;
        padding: 40px 0;
        max-width: 1440px;
        margin: 0 auto;
    }
}

