
.btn {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    transition: all .2s;

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(black, 0.21);
    }


    &--see-project,
    &--download-resume {
        background: $background-color-light;
        color: $font_color-dark;
        display: inline-block;

        margin-top: 3rem;
        padding: 10px 25px;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 1rem 2rem rgba(black, 0.21);
        }
    }

    &--download-resume {
        background: $background-color-dark;
        color: $font_color-light;
        border: 1px solid $font_color-light;
        margin-left: 1.5rem;
    }

    &--src-code {
        /* This creates a "convex button". Outwards */
        background: linear-gradient(145deg, #daf6ff, #b8cfd8);
        box-shadow:  5px 5px 8px #b6c6cc,
                    -5px -5px 8px #f6ffff;
        color: $btn-font-color;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        
        &:hover {
            /* This creates a "concave button". Inwards */
            background: linear-gradient(145deg, #b8cfd8, #daf6ff);
            box-shadow:  5px 5px 8px #b6c6cc,
                        -5px -5px 8px #f6ffff;
        }
    }

    &--send-message {
        background-color: darken($icon_color_main, 10%);
        color: $font-color-light;
        width: 80px;
        margin-top: 1rem;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
    
        &:hover {
            background-color: darken($icon_color_main, 20%);
        }
    }


}